@import "../content/theme/theme-variables";
.top-gap {
  margin-top: $topGap;
}
.sidenav-container {
  height: 100vh;
  background-color: $light;
}

.content {
  padding: 10px 15px;
}
/* stylelint-disable declaration-no-important */
.right-fixture {
  margin-right: 326px !important;
}
.top-menu-container {
  margin-top: 64px;
  width: 100%;
  display: block;
}
