<div class="container-fluid no-padding">
  <span class="shape-outer"></span>
  <span class="shape-inner"></span>
  <span class="shape-banner"></span>
  <div class="jumbotron">
    <div class="message">
      <h1 class="title" translate>
        APP_NAME
      </h1>
      <h5 class="sub-title" translate="">
        SYS_NAME
      </h5>
      <p class="welcome-message" translate>
        welcome.message
      </p>
      <span class="shape-title"></span>
      <button class="welcome-message-btn">
        {{ 'goToHelp' | translate }}
      </button>
    </div>
  </div>
</div>
