<mat-card class="col-md-12 col-lg-12">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.facility.number' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.facilitiesNumber }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.public.nation.number.debtor' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.nationalNumberDebtor }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.public.full.name.debtor' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.fullNameDebtor }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.branch.code' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.branchCode }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.contract.type' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.contractType }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.collateral.code' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.collateralCode }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.product.type' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.productType }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.product.code' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.productCode }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.facility.payment.source' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.facilitiesPaymentSource }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.facility.original.amount' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.facilitiesOriginalAmount }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.facility.interest.amount' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.facilitiesPercentAmount }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.facility.granting.date' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.loanHistory }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.installment.number' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.installmentNumber }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.installment.distance' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.installmentDuration }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.rate.interest' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.interestRate }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.rate.interest.government.commitment' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.interestRateGovernmentCommitment }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.commitment.rate' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.commitmentRate }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.remaining.total.debt' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.totalDebtBalance }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.remaining.original' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.originalRemains }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.remaining.profit' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilitiesModel.profitBalance }}</strong>
        </div>
      </div>
    </div>
  </div>
</mat-card>
