<mat-card>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.maturity.past.total' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingTotalMaturityOfPast }}</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.maturity.past.original' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingOriginalMaturityPast }}</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.maturity.past.profit' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingProfitMaturityPast }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.maturity.past.obligation' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingObligationMaturityPast }}</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.maturity.past.court.cost' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingCourtCostMaturityPast }}</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.deferred.total' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingTotalDeferred }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.deferred.original' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingOriginalDeferred }}</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.deferred.profit' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingProfitDeferred }}</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.deferred.obligation' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingObligationDeferred }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">{{ 'label.remaining.deferred.court.cost' | translate }}:</div>
            <div class="col-sm-6">
              <strong> {{ floorNonCurrentRemainingModel.remainingCourtCostDeferred }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
