<widget-panel icon="donut_small" [title]="componentTitle">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <form [formGroup]="inquiryRequestMainForm">
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field class="input-full-width">
                  <mat-label>{{ 'label.date.from' | translate }}</mat-label>
                  <input matInput formControlName="fromDate" />
                  <mat-icon matSuffix>calendar_today</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="input-full-width">
                  <mat-label>{{ 'label.tracking.code' | translate }}</mat-label>
                  <input matInput formControlName="toDate" />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="input-full-width">
                  <mat-label>{{ 'label.status' | translate }}</mat-label>
                  <mat-select formControlName="status">
                    <mat-option *ngFor="let status of statusList" [value]="status">
                      {{ status.nameValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field class="input-full-width">
                  <mat-label>{{ 'label.date.to' | translate }}</mat-label>
                  <input matInput formControlName="toDate" />
                  <mat-icon matSuffix>calendar_today</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="input-full-width">
                  <mat-label>{{ 'label.customer.national.id' | translate }}</mat-label>
                  <input matInput formControlName="customerId" />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <button mat-mini-fab color="primary" (click)="search()">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <br />

  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="trackingCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'label.tracking.code' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.trackingCode }}</td>
            </ng-container>

            <ng-container matColumnDef="contractNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'label.contract.number' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.contractNumber }}</td>
            </ng-container>

            <ng-container matColumnDef="customerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'label.customer.name' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.customerName }}</td>
            </ng-container>

            <ng-container matColumnDef="requestDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'label.date.request' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.requestDate }}</td>
            </ng-container>

            <ng-container matColumnDef="customerRegisterCodeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'label.customer.register.code.name' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">{{ element.customerRegisterCodeName }}</td>
            </ng-container>

            <ng-container matColumnDef="unitRegisterNameCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'label.unit.register.name.code' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">{{ element.unitRegisterNameCode }}</td>
            </ng-container>

            <ng-container matColumnDef="function">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'label.operation' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="{{ 'label.view.details' | translate }}" color="accent">
                  <mat-icon>pageview</mat-icon>
                </button>
                <button mat-icon-button matTooltip="{{ 'label.view.details' | translate }}" color="accent">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="{{ 'label.view.details' | translate }}" color="accent">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button matTooltip="{{ 'check.final.approval' | translate }}" color="accent">
                  <mat-icon>insert_comment</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</widget-panel>
