<mat-card class="col-md-12 col-lg-12">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.contract.number' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.contractId }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.facility.number' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.facilityNumber }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.public.full.name.debtor' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.debtorFullName }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.branch.name' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.branchName }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.branch.code' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.branchCode }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.public.name.supervision' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.supervisionName }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.contract.type.other' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.contractType }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.contract.code' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.contractCode }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.facility.amount' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.facilityAmount }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.facility.granting.date' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.facilityGrantDate }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.installment.number' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.installmentNumber }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.collateral.code' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.facilityCode }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.remaining.deferred' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.deferred }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.amount.penalty' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.penalty }}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-6">{{ 'label.remaining.total.debt' | translate }}:</div>
        <div class="col-sm-6">
          <strong> {{ facilityInfoModel.remainingDebtTotal }}</strong>
        </div>
      </div>
    </div>
  </div>
</mat-card>
